* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Rokkitt", serif;
}

body {
    color: #000000;
    background-color: #f1f1f1;
}


/* navbar-styles */
header {
    max-width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 10;
}

#logo {
    width: 281px;
}

.nav-items {
    width: 600px;
    height: 78px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.nav-items>a {
    text-decoration: none;
    margin-left: 28px;
    color: #2935A7;
    font-weight: 400;
    font-size: 20px;
    transition: 0.3s all ease;
}

.nav-items>a:hover {
    text-decoration: underline;
    font-size: 21px;
    transition: 0.3s all ease;
}

#search {
    cursor: pointer;
    font-size: 20px;
    transition: 0.2s all ease-in;
}

#search:hover {
    color: #7884f9;
    font-size: 22px;
    transition: 0.2s all ease-in;
}

#burger {
    display: none;
    cursor: pointer;
    transition: 0.3s all ease-in;
}

#burger:hover {
    color: #7884f9;
    transition: 0.3s all ease-in;
}
#blogs {
    text-decoration: underline;
}
/* section1 styles */

.section1 {
    justify-content: center;
    max-width: 100%;
    margin: auto;
    margin-bottom: 70px;
    background-color: #fff;
    margin-top: 72px;
    display: flex;
    flex-direction: column;
}

.section1>img {
    max-width: 100%;
}

.section1>h1 {
    font-size: 24px;
    font-weight: 800;
    line-height: 35px;
    text-align: left;
}

.section1>p {
    font-size: 19px;
    font-weight: 490;
    line-height: 20px;
    text-align: left;
}

/* section2 styles */
#section2 {
    max-width: 1239px;
    margin: auto;
    margin-bottom: 70px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.section2divs {
    width: 610px;
    background-color: #fff;
}

.section2divs>img {
    max-width: 100%;
}

.section2divs>h1 {
    font-size: 24px;
    font-weight: 800;
    line-height: 35px;
    text-align: left;
}

.section2divs>p {
    font-size: 19px;
    font-weight: 490;
    line-height: 20px;
    text-align: left;
}

/* section3 styles */

#section3 {
    max-width: 1239px;
    margin: auto;
    margin-bottom: 70px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.section3divs {
    width: 610px;
    background-color: #fff;
}

.section3divs>img {
    max-width: 100%;
}

.section3divs>h1 {
    font-size: 24px;
    font-weight: 800;
    line-height: 35px;
    text-align: left;
}

.section3divs>p {
    font-size: 19px;
    font-weight: 490;
    line-height: 20px;
    text-align: left;
}

.icons1 {
    width: 160px;
    display: flex;
    position: relative;
    left: 44.1%;
    justify-content: space-between;
    font-size: 51px;
    color: rgb(145, 144, 144);
    margin-top: 50px;
}

.icons1>i {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s all ease-in;
}

.icons1>i:hover {
    scale: 1.1;
    color: #1D2575;
    transition: 0.15s all ease-in;
}

/* section4 styles */
#section4 {
    max-width: 1240px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: baseline;
}

.photos {
    font-size: 45px;
    font-weight: 800;
    line-height: 40px;
    text-align: left;
    color: black;
    margin: 10px 0 50px 151px;
    display: flex;
}

#section4>img {
    margin-bottom: 11px;
}

/* footer styles */

footer {
    max-width: 100%;
    height: 350px;
    background-color: #A9AEDC;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin-top: 61px;
}

.ftinfo {
    width: 330px;
    height: 175px;
}

.ftinfo>h1 {
    font-size: 48px;
    font-weight: 800;
    line-height: 56.37px;
    text-align: left;
    margin-bottom: 17px;
}

.ftinfo>a>i {
    font-size: 35px;
    letter-spacing: 20px;
    color: black;
    transition: 0.1s ease-in;
}

#ig:hover {
    color: #dd3f3c;
    transition: 0.1s ease-in;
}

#fb:hover {
    color: #2935A7;
    transition: 0.1s ease-in;
}

#yt:hover {
    color: red;
    transition: 0.1s ease-in;
}

#tw:hover {
    color: #1DA1F2;
    transition: 0.1s ease-in;
}

.ft-links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 533px;
    justify-content: space-between;
}

.ft-links>a {
    text-decoration: none;
    font-size: 32px;
    font-weight: 800;
    line-height: 37.58px;
    transition: 0.3s ease;
}

.ft-links>a:hover {
    color: #222222;
    transition: 0.3s ease;
}

/* media for navbar and footer */
@media only screen and (max-width: 692px) {
    .nav-items {
        display: none;
    }

    #burger {
        font-size: 38px;
        display: flex;
        align-items: center;
        margin-right: 25px;
    }


    .ftinfo {
        margin-bottom: 30px;
        margin-right: -90px;
    }

    footer {
        height: 569px;
    }

    .ft-links {
        flex-direction: column;
        margin-top: 16px;
        height: 300px;
    }

    .ft-links>a {
        margin-bottom: 10px;
        margin: auto;
    }

}

@media only screen and (max-width:800px) {
    #secondarrows {
        margin-left: -44px;
    }
}


@media only screen and (max-width:1245px) {
    #section2 {
        flex-direction: column;
        align-items: center;
    }

    .section2divs {
        margin-bottom: 50px;
        width: 500px;
    }

    #section3 {
        flex-direction: column;
        align-items: center;
    }

    .section3divs {
        margin-bottom: 50px;
        margin-top: 10px;
        width: 500px;
    }

    .icons1 {
        left: 0;
    }

    .photos {
        justify-content: center;
        margin: 44px auto
    }

    #section4>img {
        margin-bottom: 30px;
    }

    #secondarrows {
        left: 46%;
    }
}