* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Rokkitt", serif;
}

body {
    color: #222222;
    background-color: #f1f1f1;
}

/* navbar-styles */
header {
    max-width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 10;
}

#logo {
    width: 281px;
}

.nav-items {
    width: 600px;
    height: 78px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.nav-items>a {
    text-decoration: none;
    margin-left: 28px;
    color: #2935A7;
    font-weight: 400;
    font-size: 20px;
    transition: 0.3s all ease;
}

.nav-items>a:hover {
    text-decoration: underline;
    font-size: 21px;
    transition: 0.3s all ease;
}

#search {
    cursor: pointer;
    font-size: 20px;
    transition: 0.2s all ease-in;
}

#search:hover {
    color: #7884f9;
    font-size: 22px;
    transition: 0.2s all ease-in;
}

#burger {
    display: none;
    cursor: pointer;
    transition: 0.3s all ease-in;
}

#burger:hover {
    color: #7884f9;
    transition: 0.3s all ease-in;
}

#products {
    text-decoration: underline;
}

/* section1 styles */
.mostlyh1 {
    font-size: 40px;
    font-weight: 800;
    line-height: 46.97px;
    text-align: left;
}

#section1 {
    max-width: 1300px;
    margin: 40px auto;
    display: flex;
}

.guitarimg {
    height: 736px;
    max-width: 61vw;
}

.product_info {
    width: 600px;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}

.info {
    max-width: 219px;
}

.info>h1 {
    font-size: 26px;
    font-weight: 800;
    line-height: 33px;
    text-align: left;
}

.info>p {
    font-size: 24px;
    font-weight: 400;
    line-height: 34px;
    text-align: left;
}

.info2 {
    max-width: 219px;
    display: none;
    /* position: relative;
    top: 10px;
    left: -744px; */
}

.info2>h1 {
    font-size: 26px;
    font-weight: 800;
    line-height: 33px;
    text-align: left;
}

.info2>p {
    font-size: 24px;
    font-weight: 400;
    line-height: 34px;
    text-align: left;
}

.prodimages3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 47px;
}

#shopbtn>button {
    width: 140px;
    height: 40px;
    background-color: #31728E;
    border-radius: 12px;
    color: #fff;
    cursor: pointer;
    margin-top: 10px;

}

.carousel {
    max-width: 100%;
    height: 321px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* section3 styles */

#section3 {
    max-width: 1239px;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.smallguitar-images {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 1236px;
    flex-wrap: wrap;
}

.smallimg {
    max-width: 295px;
    height: 402px;
}

.smallimg>p {
    font-size: 24px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    color: black;
    margin-top: 13px;
}

.smallimg>h3 {
    font-size: 24px;
    font-weight: 700;
    line-height: 20px;
    text-align: left;
    color: black;
}

/* arrows styles */
.icons1 {
    width: 160px;
    display: flex;
    position: relative;
    left: 44.1%;
    justify-content: space-between;
    font-size: 51px;
    color: rgb(145, 144, 144);
    margin-top: 50px;
}

.icons1>i {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s all ease-in;
}

.icons1>i:hover {
    scale: 1.1;
    color: #1D2575;
    transition: 0.15s all ease-in;
}

/* footer styles */

footer {
    max-width: 100%;
    height: 350px;
    background-color: #A9AEDC;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
}

.ftinfo {
    width: 330px;
    height: 175px;
}

.ftinfo>h1 {
    font-size: 48px;
    font-weight: 800;
    line-height: 56.37px;
    text-align: left;
    margin-bottom: 17px;
}

.ftinfo>a>i {
    font-size: 35px;
    letter-spacing: 20px;
    color: black;
    transition: 0.1s ease-in;
}

#ig:hover {
    color: #dd3f3c;
    transition: 0.1s ease-in;
}

#fb:hover {
    color: #2935A7;
    transition: 0.1s ease-in;
}

#yt:hover {
    color: red;
    transition: 0.1s ease-in;
}

#tw:hover {
    color: #1DA1F2;
    transition: 0.1s ease-in;
}

.ft-links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 533px;
    justify-content: space-between;
}

.ft-links>a {
    text-decoration: none;
    font-size: 32px;
    font-weight: 800;
    line-height: 37.58px;
    transition: 0.3s ease;
    color: #551a8b;
}

.ft-links>a:hover {
    color: #222222;
    transition: 0.3s ease;
}

/* media for navbar and footer */
@media only screen and (max-width: 692px) {
    .nav-items {
        display: none;
    }

    #burger {
        font-size: 38px;
        display: flex;
        align-items: center;
        margin-right: 25px;
    }


    .ftinfo {
        margin-bottom: 30px;
        margin-right: -90px;
    }

    footer {
        height: 569px;
    }

    .ft-links {
        flex-direction: column;
        margin-top: 16px;
        height: 300px;
    }

    .ft-links>a {
        margin-bottom: 10px;
        margin: auto;
    }

}

/* responsive  */
@media only screen and (max-width:900px) {
    #spc {
        margin: 34px;

    }

    .icons1 {
        margin-left: -25px;
    }

}

@media only screen and (max-width:1177px) {
    .prodimages3 {
        flex-direction: column;
        width: 217px;
        margin-top: 0;
        margin-bottom: 35px;
    }

    .prodimages3>img {
        margin-bottom: 10px;
    }

    .product_info {
        flex-direction: column-reverse;
        align-items: center;
    }

    .info {
        display: none;
    }

    .info2 {
        display: block;
        display: block;
        margin-left: -125vw;
    }

    #spc {
        margin: 35px;
    }
}